table {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-elevation-z8 {
  width: 100%;
}

.clickable-row {
  cursor: pointer;
}
.clickable-row:hover {
  background-color: #b0d1cf;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
